.mobile-display {display:none}

.desktop-display {display:block}

@media (max-width:800px) {
    .desktop-display {display:none}
    .mobile-display {display:block}
}

.login-mobile {
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-mobile {
    display: block;
    content: '';
}

#logoImg {
    width: 40%;
    height: 10%;
}

#for-labels {
    text-align: left;
}

.login {
    margin-top: 0;
    margin-bottom: 25%;

    font-family: Roboto, fantasy;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #FF7A00;

    text-shadow: 2px 2px rgba(0, 0, 0, 0.25) ;
}

label {
    text-align: left;
}

input {
    display: block;
    margin-bottom: 20%;

    width: 300px;
    height: 50px;

    font-family: Roboto, fantasy;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    background: rgba(99, 99, 99, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#send {
    margin-top: 60%;

    width: 300px;
    height: 50px;

    background: #FFB179;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Roboto, fantasy;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FF7A00;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

body {
    background: #FFF1E1;
}

#catchat {
    position: absolute;
    width: 617px;
    height: 157px;
    left: 70px;
    top: 511px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 169px;
    
    color: #030303;

    text-shadow: 2px 2px rgba(0, 0, 0, 0.25) ;
}

#login {
    position: absolute;
    width: 393px;
    height: 157px;
    left: 1029px;
    top: 130px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #FF7A00;

    text-shadow: 2px 2px rgba(0, 0, 0, 0.25) ;
}

#logo-image {
    position: absolute;
    width: 408px;
    height: 311px;
    left: 172px;
    top: 150px;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#uname {
    position: absolute;
    width: 355px;
    height: 58px;
    left: 911.5px;
    top: 246px;
    border: 0px;
    
    background: rgba(99, 99, 99, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#uname:placeholder-shown {
    background-image: url('./resources/images/icons/user-solid.svg');
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: left, center;
    background-position-x: 3%;
    background-blend-mode: lighten;
    transition: 500ms;
    text-indent: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: rgba(52, 52, 52, 0.25);
}

#psw {
    position: absolute;
    width: 355px;
    height: 58px;
    left: 911px;
    top: 370px;
    border: 0px;
    
    background: rgba(99, 99, 99, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#psw:placeholder-shown {
    background-image: url('./resources/images/icons/key-solid.svg');
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: left, center;
    background-position-x: 3%;
    background-blend-mode: lighten;
    transition: 500ms;
    text-indent: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(52, 52, 52, 0.25);
}

#enter {
    position: absolute;
    width: 355px;
    height: 58px;
    left: 910px;
    top: 485px;
    border: 0px;

    background: #FFB179;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FF7A00;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#signup {
    position: absolute;
    width: 355px;
    height: 58px;
    left: 912px;
    top: 687px;
    border: 0px;
    
    background: #FFB179;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FF7A00;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
