body {
    background: #FFF1E1;
}

#catchat {
    position: absolute;
    width: 617px;
    height: 157px;
    left: 70px;
    top: 511px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 169px;
    
    color: #030303;

    text-shadow: 2px 2px rgba(0, 0, 0, 0.25) ;
}

#login {
    position: absolute;
    width: 393px;
    height: 157px;
    left: 1029px;
    top: 130px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #FF7A00;

    text-shadow: 2px 2px rgba(0, 0, 0, 0.25) ;
}

#logo-image {
    position: absolute;
    width: 359px;
    height: 323px;
    left: 172px;
    top: 136px;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#uname {
    position: absolute;
    width: 355px;
    height: 58px;
    left: 911.5px;
    top: 246px;

    background: rgba(99, 99, 99, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#psw {
    position: absolute;
    width: 355px;
    height: 58px;
    left: 911px;
    top: 370px;

    background: rgba(99, 99, 99, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#enter {
    position: absolute;
    width: 355px;
    height: 58px;
    left: 910px;
    top: 485px;

    background: #FFB179;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FF7A00;
}

#signup {
    position: absolute;
    width: 355px;
    height: 58px;
    left: 912px;
    top: 687px;
    
    background: #FFB179;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FF7A00;
}

::placeholder {
    position: absolute;
    width: 249px;
    height: 42px;
    left: 989px;
    top: 262px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: rgba(52, 52, 52, 0.25);
}